# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios

In [7]:
# Exercício 1 - Imprima na tela os números de 1 a 10
l1= [1,2,3,4,5,6,7,8,9,10];print(l1)
l2=range(1,10);print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
range(1, 10)

In [9]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
l2= ['casa', 'cachorro', 'jardim' , 'piscina', 'garagem'];print(l2)

['casa', 'cachorro', 'jardim', 'piscina', 'garagem']

In [14]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
l3_1= 'casa'
l3_2= ' de'
l3_3= l3_1 + l3_2 + ' Campo' 
print(l3_1,l3_2,l3_3)

casa  de casa de Campo

In [17]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: l3= (1, 2, 2, 3, 4, 4, 4, 5) e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
l4= (1, 2, 2, 3, 4, 4, 4, 5);l4
type(l4)

tuple

In [1]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
l5 = {'Diego':30, 'Joao':23, 'Fernando':24};print(l5)
l5.values()

{'Diego': 30, 'Joao': 23, 'Fernando': 24}

dict_values([30, 23, 24])

In [2]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
l5['Igor']=22; l5

{'Diego': 30, 'Fernando': 24, 'Igor': 22, 'Joao': 23}

In [4]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq1 = open("nomes.txt", "w")
arq1.write('Brian, Peter, John, Eric, Bernard')
arq1.close()

In [5]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
dados= open("nomes.txt","r")

In [6]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
l9={};l9

{}

In [7]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"
df = pd.read_csv(file_name)
df.tail()

     admit  gre   gpa  rank
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>